.container,
body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.emoji {
    font-size: 5rem;
}

.note {
    font-size: 3rem;
}

.sub-note {
    font-size: 1rem;
    color: gray;
    font-style: italic;
    padding-bottom: 0.5rem;
}

.reason {
    font-size: 1rem;
}

/*** use if wide viewport is enabled ***/
/*@media (orientation: portrait) {*/
/*    .emoji {*/
/*        font-size: 10rem;*/
/*    }*/

/*    .note {*/
/*        font-size: 6rem;*/
/*    }*/

/*    .sub-note {*/
/*        font-size: 2.5rem;*/
/*    }*/

/*    .reason {*/
/*        font-size: 3rem;*/
/*    }*/
/*}*/

/*@media (orientation: landscape) {*/
/*    .emoji {*/
/*        font-size: 10rem;*/
/*    }*/

/*    .note {*/
/*        font-size: 6rem;*/
/*    }*/

/*    .sub-note {*/
/*        font-size: 2.5rem;*/
/*    }*/

/*    .reason {*/
/*        font-size: 3rem;*/
/*    }*/
/*}*/
